* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}

.app__headerImage {
  object-fit: contain;
  cursor: pointer;
}

.app__headerLoggedIn {
  display: flex;
  align-items: center;
}

.app__headerButton {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  padding-left: 10px;
}

.app__headerButton:hover div {
  opacity: 0.4;
}

.app__signUp,
.app__signIn {
  display: flex;
  flex-direction: column;
}
